.services {
    display: flex;
    margin-top: 8rem;
    padding: 0 3px 0 3px;
    margin-bottom: 13rem;
    height: 91vh;
}
.awesome {
    display: flex;
    flex-direction: column;
    position: relative;
}
.awesome>:nth-child(1) {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}
.awesome>:nth-child(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}
.awesome>:nth-child(3) {
    color: var(--gray);
    font-size: 18px;
    margin-top: 1rem;
}
.s-button {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
}
.cards {
    position: relative;
}
.cards>* {
    position: absolute;
}
.s-blur1 {
    left: -18rem;
    top: 13rem;
}
.s-blur2 {
    left: 14rem;
    top: 8rem;
}
 @media screen and (max-width: 480px) {
    .services {
        margin-top: 0;
        flex-direction: column;
        gap: 5rem;
        height: 65rem;
        padding: 0;
    }
    .cards {
        display: flex;
        flex-direction: column;
        gap: 17rem;
    }
    .cards>* {
        position: static;
    }
  }