.floating {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: var(--boxShadow);
    border-radius: 18px;
    align-items: center;
    height: 4.5rem;
    padding: 0px 28px 0px 0px;
}
.floating img {
    transform: scale(0.4);
}
.floating span {
    font-size: 17px;
    color: black;
}
