.experience {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 28vh;
    margin-bottom: 8rem;
}

.achievement {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.circle {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    border-radius: 100%;
    background: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    position: relative;
    justify-content: center;
    color: black;
}

.circle::before {
    border-radius: 100%;
    background-image: linear-gradient(to bottom, #87e6fb 0%, #ffc05c 100%);
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    position: absolute;
    z-index: -1;
    content: '';
    box-shadow: var(--boxShadow);
}

.achievement span:nth-of-type(2) {
    color: var(--orange);
}

@media screen and (max-width: 480px) {
    .experience {
        gap: 3rem;
      
    }

}